body {
      font-family: Arial;
        margin: 30px;
        }

        .card {
          border: 1px solid #ccc;
            padding: 10px;
              margin-bottom: 10px;
              }

              .rojo {
                color: red;
                  font-weight: bold;
                  }

                  .naranja {
                    color: orange;
                    }

                    .azul {
                      color: blue;
                      }
}